<!DOCTYPE html>
<html>
<head>
<title>Index Page</title>
<link rel="stylesheet" type="text/css" href="/index.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<!--  
<form action="registration">
<input type="submit" name="registration" value="Regestion form">

</form>


<br>
<br>

<form action="login">
<input type="submit" name="login" value="Login form">

</form>
-->

 <header>
        <div  class="navbar">
            <div class="nav-logo border">
                <div class="logo"></div>
            </div>
         
            <div class="nav-search">
                <input class="search-input" placeholder="                                                         Search Music">
                <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            </div>
          

            <div class="nav-signin border">
                <p class="nav-second"><a href="registration">Registration</a></p>
            </div>
            <div class="nav-signin  border">  
                <p class="nav-second"><a href="login">Login</a></p>
            </div>
        </div>

        <div class="panel">
            
        </div>
    </header>



</body>
</html>